<ion-header>
    <ion-navbar>
        <button ion-button menuToggle> 
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Usuários</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="adicionarUsuario()">
                <ion-icon name="add-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-searchbar placeholder="Pesquisar nome" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
        <ion-item-sliding *ngFor="let item of itemsFilter">
            <button ion-item (click)="visualizarDados(item)">
                <h3>{{ item.pessoa.nome }} </h3>
                <p> {{ item.email }} </p>
                <p *ngIf="item.ativo" style="color: green"> Ativo </p>
                <p *ngIf="!item.ativo" style="color: red"> Inativo </p>
            </button>
            <ion-item-options side="right">
                <button ion-button *ngIf="item.ativo" color="danger" (click)="alterarSituacaoUsuario(item)">
                    <ion-icon name="close"></ion-icon>
                    Inativar
                </button>
                <button ion-button *ngIf="!item.ativo" color="primary" (click)="alterarSituacaoUsuario(item)">
                    <ion-icon name="checkmark"></ion-icon>
                    Ativar
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
  </ion-content>
  