<ion-header>
  <ion-navbar>
    <button ion-button menuToggle> 
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Clientes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
  
<ion-content padding>
  <ion-searchbar placeholder="Pesquisar nome" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <button (click)="alterarDados(item)" ion-item *ngFor="let item of itemsFilter">
      <h3> {{ item.pessoa.nome }} </h3>
      <p> Documento: {{ item.documento }} </p>
    </button>
  </ion-list>
</ion-content>
