<ion-header>
    <ion-navbar>
        <ion-title>Novo cliente</ion-title>
        <ion-buttons start>
        <button ion-button (click)="dismiss()">
            <span ion-text color="primary" showWhen="ios">Voltar</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
      
<ion-content padding>
    <form #adicionarForm="ngForm">
        <ion-item>
            <ion-label stacked>Nome*</ion-label>
            <ion-input [(ngModel)]="cliente.pessoa.nome" name="nome" type="text" required #nome="ngModel" minlength="5"></ion-input>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="nome.invalid">Informe o nome (5 ou mais caracteres)</div>
        
        <ion-item>
            <ion-label>Tipo Cliente*</ion-label>
            <ion-select [(ngModel)]="cliente.tipoCliente" name="tipoCliente" #tipoCliente="ngModel" required cancelText="Cencelar">
                <ion-option value="Físico">Físico</ion-option>
                <ion-option value="Jurídico">Jurídico</ion-option>
            </ion-select>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="tipoCliente.invalid">Informe o tipo de cliente</div>
        <br>

        <ion-item>
        <ion-label stacked>CPF/CNPJ*</ion-label>
        <ion-input [(ngModel)]="cliente.documento" (blur)="cliente.documento = format(cliente.documento)" name="documento" required #documento="ngModel" minlength="11" maxlength="18"></ion-input>
        </ion-item>

        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="documento.invalid">CPF ou CNPJ inválido</div>

        <ion-input-mask label="Telefone*" [(ngModel)]="cliente.pessoa.telefone" name="telefone" typeLabel="stacked" [clearIfNotMatch]="true" [dropSpecialCharacters]="false" mask="(99) 999999999" required #telefone="ngModel" minlength="13"></ion-input-mask>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="telefone.invalid">Informe o telefone</div>

        <ion-input-mask label="Data de nascimento/criação*" [(ngModel)]="cliente.pessoa.dataNasc" name="dataNasc" typeInput="text" typeLabel="stacked" mask="99/99/9999" required #dataNasc="ngModel" minlength="10" [dropSpecialCharacters]="false"></ion-input-mask>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="dataNasc.invalid">Informe a data de nascimento/criação</div>

        <ion-item>
            <ion-label>Sexo</ion-label>
            <ion-select [(ngModel)]="cliente.pessoa.sexo" name="sexo" #sexo="ngModel" [required]="tipoCliente.value == 'Físico'" cancelText="Cencelar">
                <ion-option value="Masculino">Masculino</ion-option>
                <ion-option value="Feminino">Feminino</ion-option>
            </ion-select>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="sexo.invalid">Informe o sexo</div>
        <br>
        <ion-item>
            <ion-label stacked>Logradouro*</ion-label>
            <ion-input [(ngModel)]="cliente.pessoa.endereco.endereco" name="endereco" type="text" required #endereco="ngModel" minlength="5"></ion-input>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="endereco.invalid">Informe o logradouro (5 ou mais caracteres)</div>

        <ion-item>
            <ion-label stacked>Número*</ion-label>
            <ion-input [(ngModel)]="cliente.pessoa.endereco.numero" name="numero" type="text" required #numero="ngModel"></ion-input>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="numero.invalid">Informe o número</div>

        <ion-item>
            <ion-label stacked>Complemento</ion-label>
            <ion-input [(ngModel)]="cliente.pessoa.endereco.complemento" name="complemento" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Bairro*</ion-label>
            <ion-input [(ngModel)]="cliente.pessoa.endereco.bairro" name="bairro" type="text" required #bairro="ngModel"></ion-input>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="bairro.invalid">Informe o bairro</div>

        <ion-input-mask label="CEP*" [(ngModel)]="cliente.pessoa.endereco.cep" name="cep" typeInput="text" typeLabel="stacked" mask="99999-999" required #cep="ngModel" minlength="9" [dropSpecialCharacters]="false"></ion-input-mask>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="cep.invalid">Informe o cep</div>
        <br><br>
        <button [disabled]="!adicionarForm.valid" ion-button block (click)="salvarCliente()">Salvar</button>
    </form>
</ion-content>
        