<ion-header>
    <ion-navbar>
        <ion-title>Alterar dados</ion-title>
        <ion-buttons start>
        <button ion-button (click)="dismiss()">
            <span ion-text color="primary" showWhen="ios">Voltar</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form #alterarForm="ngForm">
        <ion-item>
            <ion-label stacked>E-mail*</ion-label>
            <ion-input [(ngModel)]="usuario.email" name="email" type="text" disabled="true" required email #email="ngModel"></ion-input>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="email.invalid">Informe um e-mail válido</div>
        
        <ion-input-mask label="CPF*" [(ngModel)]="usuario.cpf" disabled="true" name="cpf" typeInput="text" typeLabel="stacked" mask="999.999.999-99" required #cpf="ngModel" minlength="14" [dropSpecialCharacters]="false"></ion-input-mask>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="cpf.invalid">Informe o cpf</div>

        <ion-item>
            <ion-label stacked>Nome*</ion-label>
            <ion-input [(ngModel)]="usuario.pessoa.nome" name="nome" type="text" required #nome="ngModel" minlength="5"></ion-input>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="nome.invalid">Informe o nome (5 ou mais caracteres)</div>

        <ion-input-mask label="Telefone*" [(ngModel)]="usuario.pessoa.telefone" name="telefone" typeLabel="stacked" [clearIfNotMatch]="true" [dropSpecialCharacters]="false" mask="(99) 999999999" required #telefone="ngModel" minlength="13"></ion-input-mask>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="telefone.invalid">Informe o telefone</div>

        <ion-input-mask label="Data de nascimento*" [(ngModel)]="usuario.pessoa.dataNasc" disabled="true" name="dataNasc" typeInput="text" typeLabel="stacked" mask="99/99/9999" required #dataNasc="ngModel" minlength="10" [dropSpecialCharacters]="false"></ion-input-mask>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="dataNasc.invalid">Informe a data de nascimento</div>

        <ion-item>
            <ion-label>Sexo*</ion-label>
            <ion-select [(ngModel)]="usuario.pessoa.sexo" disabled="true" name="sexo" #sexo="ngModel" required cancelText="Cencelar">
                <ion-option value="Masculino">Masculino</ion-option>
                <ion-option value="Feminino">Feminino</ion-option>
            </ion-select>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="sexo.invalid">Informe o sexo</div>
        <br>
        <ion-item>
            <ion-label stacked>Logradouro*</ion-label>
            <ion-input [(ngModel)]="usuario.pessoa.endereco.endereco" name="endereco" type="text" required #endereco="ngModel" minlength="5"></ion-input>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="endereco.invalid">Informe o logradouro (5 ou mais caracteres)</div>

        <ion-item>
            <ion-label stacked>Número*</ion-label>
            <ion-input [(ngModel)]="usuario.pessoa.endereco.numero" name="numero" type="text" required #numero="ngModel"></ion-input>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="numero.invalid">Informe o número</div>

        <ion-item>
            <ion-label stacked>Complemento</ion-label>
            <ion-input [(ngModel)]="usuario.pessoa.endereco.complemento" name="complemento" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Bairro*</ion-label>
            <ion-input [(ngModel)]="usuario.pessoa.endereco.bairro" name="bairro" type="text" required #bairro="ngModel"></ion-input>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="bairro.invalid">Informe o bairro</div>

        <ion-input-mask label="CEP*" [(ngModel)]="usuario.pessoa.endereco.cep" name="cep" typeInput="text" typeLabel="stacked" mask="99999-999" required #cep="ngModel" minlength="9" [dropSpecialCharacters]="false"></ion-input-mask>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="cep.invalid">Informe o cep</div>
        <!-- <ion-item>
            <ion-label stacked>E-mail*</ion-label>
            <ion-input [(ngModel)]="usuario.email" name="email" type="text" disabled="true" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>CPF*</ion-label>
            <ion-input [(ngModel)]="usuario.cpf" name="cpf" type="text" disabled="true" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Nome*</ion-label>
            <ion-input [(ngModel)]="usuario.pessoa.nome" name="nome" type="text" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Telefone*</ion-label>
            <ion-input [(ngModel)]="usuario.pessoa.telefone" name="telefone" type="text" required maxlength="11"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Sexo*</ion-label>
            <ion-select [(ngModel)]="usuario.pessoa.sexo" name="sexo" #sexo="ngModel" required cancelText="Cencelar">
                <ion-option value="Masculino">Masculino</ion-option>
                <ion-option value="Feminino">Feminino</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked>Logradouro*</ion-label>
            <ion-input [(ngModel)]="usuario.pessoa.endereco.endereco" name="logradouro" type="text" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Número*</ion-label>
            <ion-input [(ngModel)]="usuario.pessoa.endereco.numero" name="numero" type="text" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Complemento</ion-label>
            <ion-input [(ngModel)]="usuario.pessoa.endereco.complemento" name="complemento" type="text" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Bairro*</ion-label>
            <ion-input [(ngModel)]="usuario.pessoa.endereco.bairro" name="bairro" type="text" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>CEP*</ion-label>
            <ion-input [(ngModel)]="usuario.pessoa.endereco.cep" name="cep" type="text" required></ion-input>
        </ion-item> -->
        <br><br>
        <button [disabled]="!alterarForm.valid" ion-button block (click)="alterar()">Alterar</button>
    </form>
</ion-content>