<ion-header>
    <ion-navbar>
        <ion-title>Alterar senha</ion-title>
        <ion-buttons start>
        <button ion-button (click)="dismiss()">
            <span ion-text color="primary" showWhen="ios">Voltar</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form #alterarForm="ngForm">
        <ion-item>
            <ion-label stacked>Senha atual*</ion-label>
            <ion-input [(ngModel)]="obj.senhaAtual" name="senhaAtual" type="password" required minlength="6"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Nova senha*</ion-label>
            <ion-input [(ngModel)]="obj.novaSenha" name="novaSenha" type="password" required minlength="6" #novaSenha="ngModel"></ion-input>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="novaSenha.invalid">Nova senha deve possuir ao menos 6 caracteres</div>
        <ion-item>
            <ion-label stacked>Confirmacao*</ion-label>
            <ion-input [(ngModel)]="obj.confirmacaoSenha" name="confirmacao" type="password" required minlength="6" #confirmacao="ngModel"></ion-input>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="novaSenha.value != confirmacao.value || confirmacao.invalid">Nova senha e confirmação devem ser iguais</div>
        <br><br>
        <button [disabled]="(!alterarForm.valid || (novaSenha.value != confirmacao.value))" ion-button block (click)="alterar()">Alterar</button>
    </form>
</ion-content>