<ion-header>
  <ion-navbar>
    <button ion-button menuToggle> 
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-avatar>
    <img class="circle" [src]="'assets/imgs/avatar-blank.png'">
  </ion-avatar>
  <h2 text-center>{{usuario?.pessoa.nome}}</h2>
  <p text-center>{{usuario?.email}}</p>
  <ion-grid>
      <ion-row>
        <ion-col col-6 text-right><a (click)="alterarSenha()">Alterar senha</a></ion-col>
        <ion-col col-6><a (click)="alterarDados()">Alterar dados</a></ion-col>
      </ion-row>
    </ion-grid>
  
  
</ion-content>
