<ion-content padding>
  <h3>SISTEMA INFO OS</h3>

  <img src="assets/imgs/telainicial.png" alt="logo">

  <form>
    <ion-item>
      <ion-label stacked >E-mail</ion-label>
      <ion-input [(ngModel)]="creds.email" name="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked >Senha</ion-label>
      <ion-input [(ngModel)]="creds.senha" name="senha" type="password"></ion-input>
    </ion-item>
    <a (click)="openModal()" style="margin-left: 15px;">Esqueci a senha</a>
    <br><br>
    <button ion-button block (click)="login()">Entrar</button>
  </form>
  <!-- <button ion-button block outline (click)="cadastrarUsuario()" >Registrar</button> -->
  
</ion-content>
