<ion-header>
    <ion-navbar>
        <ion-title>Recuperar senha</ion-title>
        <ion-buttons start>
        <button ion-button (click)="dismiss()">
            <span ion-text color="primary" showWhen="ios">Voltar</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form #emailForm="ngForm">
        <ion-item>
        <ion-label stacked>E-mail</ion-label>
        <ion-input [(ngModel)]="obj.email" name="email" type="email" required email></ion-input>
        </ion-item>
        <br><br>
        <button [disabled]="!emailForm.valid" ion-button block (click)="forgot()">Recuperar</button>
    </form>
</ion-content>