<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ng-container *ngFor="let p of pages">
        <!-- <button menuClose ion-item (click)="openPage(p)"> -->
        <button menuClose ion-item (click)="openPage(p)" *ngIf="teste(p.title)">
        <!-- <button menuClose ion-item (click)="openPage(p)" *ngIf="(p.title == 'Usuários' && storage.getRole().perfil == 'ADMIN') || p.title != 'Usuários'"> -->
            {{p.title}}
        </button>
      </ng-container>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>