<ion-header>
    <ion-navbar>
        <ion-title *ngIf="ordem.status != 3">Alterar ordem</ion-title>
        <ion-title *ngIf="ordem.status == 3">Visualizar ordem</ion-title>
        <ion-buttons start>
        <button ion-button (click)="dismiss()">
            <span ion-text color="primary" showWhen="ios">Voltar</span>
            <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form #adicionarForm="ngForm">
        <ion-item>
            <ion-label stacked>Equipamento*</ion-label>
            <ion-input [(ngModel)]="ordem.equipamento" [disabled]="ordem.status == 3" name="equipamento" type="text" required #equipamento="ngModel" minlength="5"></ion-input>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="equipamento.invalid">Informe o nome do equipamento (5 ou mais caracteres)</div>

        <ion-item>
            <ion-label stacked>Modelo do equipamento*</ion-label>
            <ion-input [(ngModel)]="ordem.modelo" [disabled]="ordem.status == 3" name="modelo" type="text" required #modelo="ngModel"></ion-input>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="modelo.invalid">Informe o modelo do equipamento</div>

        <ion-item>
            <ion-label stacked>Marca do equipamento*</ion-label>
            <ion-input [(ngModel)]="ordem.marca" [disabled]="ordem.status == 3" name="marca" type="text" required #marca="ngModel"></ion-input>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="marca.invalid">Informe a marca do equipamento</div>

        <ion-item>
            <ion-label stacked>Defeito informado*</ion-label>
            <ion-input [(ngModel)]="ordem.defeitoInformado" [disabled]="ordem.status == 3" name="defeitoInformado" type="text" required #defeitoInformado="ngModel" minlength="5"></ion-input>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="defeitoInformado.invalid">Informe o defeito (5 ou mais caracteres)</div>

        <ion-item>
            <ion-label stacked>Serviço a ser realizado*</ion-label>
            <ion-input [(ngModel)]="ordem.servicoRealizado" [disabled]="ordem.status == 3" name="servicoRealizado" type="text" required #servicoRealizado="ngModel"></ion-input>
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="servicoRealizado.invalid">Informe o serviço a ser realizado (5 ou mais caracteres)</div>

        <ion-item>
            <ion-label stacked>Cliente</ion-label>
            <ion-input [(ngModel)]="ordem.cliente.pessoa.nome" name="cliente" disabled="true" type="text" required></ion-input>
        </ion-item>

        <ion-input-mask label="Data de início*" [(ngModel)]="ordem.dataInicio" [disabled]="ordem.status == 3" name="dataInicio" typeInput="text" typeLabel="stacked" mask="99/99/9999" required #dataInicio="ngModel" minlength="10" [dropSpecialCharacters]="false"></ion-input-mask>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="dataInicio.invalid">Informe a data de início</div>
        
        <ion-input-mask label="Data de término*" [(ngModel)]="ordem.dataFinal" [disabled]="ordem.status == 3" name="dataFinal" typeInput="text" typeLabel="stacked" mask="99/99/9999" required #dataFinal="ngModel" minlength="10" [dropSpecialCharacters]="false"></ion-input-mask>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="dataFinal.invalid">Informe a data de término</div>

        <ion-item>
            <ion-label stacked>Valor dos produtos a serem utilizados*</ion-label>
            <ion-input [(ngModel)]="ordem.valorProdutos" type="text" [disabled]="ordem.status == 3" name="valorProdutos" [brmasker]="{money: true, decimalCaracter: ',', decimal: '2'}" required #valorProdutos="ngModel" maxlength="8"></ion-input> 
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="valorProdutos.invalid">Informe o valor dos produtos</div>

        <ion-item>
            <ion-label stacked>Valor da mão de obra*</ion-label>
            <ion-input [(ngModel)]="ordem.valorMaoDeObra" type="text" [disabled]="ordem.status == 3" name="valorMaoDeObra" [brmasker]="{money: true, decimalCaracter: ',', decimal: '2'}" required #valorMaoDeObra="ngModel" maxlength="8"></ion-input> 
        </ion-item>
        <div style="margin-left: 15px; color: red; font-size: 11px" *ngIf="valorMaoDeObra.invalid">Informe o valor da mão de obra</div>

        <ion-item>
            <ion-label stacked>Observação</ion-label>
            <ion-input [(ngModel)]="ordem.observacao" name="observacao" [disabled]="ordem.status == 3" type="text"></ion-input>
        </ion-item>

        <br><br>
        <button *ngIf="ordem.status != 3" [disabled]="!adicionarForm.valid" ion-button block (click)="alterar()">Salvar</button>
    </form>
</ion-content>