<ion-header>
<ion-navbar>
    <ion-title>Buscar clientes</ion-title>
    <ion-buttons start>
    <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Voltar</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
    </button>
    </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar placeholder="Pesquisar nome" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
        <button ion-item *ngFor="let item of itemsFilter" (click)="clienteSelecionado(item)">
            <h3> {{ item.pessoa.nome }} </h3>
            <p> {{ item.pessoa.telefone }} </p>
        </button>
    </ion-list>
</ion-content>