<ion-header>
  <ion-navbar>
    <button ion-button menuToggle> 
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ordens de serviço</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="adicionarOrdem()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
      <ion-label>Situação</ion-label>
      <ion-select [(ngModel)]="situacao" cancelText="Cancelar" (ionChange)="filtrarPorSituacao()">
        <ion-option value="todas">Todas</ion-option>
        <ion-option value="aberta">Abertas</ion-option>
        <ion-option value="andamento">Em andamento</ion-option>
        <ion-option value="encerrada">Encerradas</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Pesquisando por</ion-label>
      <ion-select [(ngModel)]="filtro" cancelText="Cancelar" (ionChange)="filtrarPorSituacao()">
        <ion-option value="serviço">Serviço</ion-option>
        <ion-option value="cliente">Cliente</ion-option>
        <ion-option value="responsável">Responsável</ion-option>
      </ion-select>
    </ion-item>
    <ion-searchbar [(ngModel)]="busca" placeholder="Pesquisar {{filtro}}" (ionInput)="getItems($event)"></ion-searchbar>
    <br>
    <ion-list>
        <ion-item-sliding *ngFor="let item of itemsFilter">
            <button ion-item (click)="alterarOrdem(item)">
                <h3> {{ item.servicoRealizado }}</h3>
                <p>Cliente: {{ item.cliente.pessoa.nome }} </p>
                <p>Realizada por: {{ item.usuario.pessoa.nome }} </p>
                <p>Valor total: R$ {{ item.valorProdutos + item.valorMaoDeObra }} </p>
                <p *ngIf="item.status == 1" style="color: green"> Aberta </p> 
                <p *ngIf="item.status == 2" style="color: orange"> Em andamento </p> 
                <p *ngIf="item.status == 3" style="color: blue"> Encerrada </p> 
            </button>
            <ion-item-options side="right">
                <button *ngIf="item.status != 3" ion-button color="success" (click)="alterarSituacao(item.id, item.status)">
                    <ion-icon name="md-create"></ion-icon>
                    Situação
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
